.topic {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  padding: 25px 50px 25px 50px;
  border: solid 2px rgba(165, 165, 165, 0.5);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  width: 100%;

  > h4 {
    text-align: right;
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: right;
    width: 100%;
  }
}
