.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;

  h1 {
    color: rgb(34, 117, 68);
  }
  h2 {
    color: rgb(90, 90, 90);
    text-align: justify !important;
  }

  .title {
    color: rgb(34, 117, 68);
  }

  .seminarImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avionImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .downArrowImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 75px;
      width: 75px;
    }
  }

  .schoolImgContainer,
  .forumImgContainer,
  .tallerImgContainer,
  .vinculoImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .quienesSomosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ant-row {
    margin: 50px 0 50px 0px;
  }
}
