.calendar {
  padding: 20px;
  border-radius: 15px;
  margin: 0px 100px 0px 100px;
  border: solid 2px rgba(165, 165, 165, 0.5);
  background-color: rgba(255, 255, 255, 0.8);

  box-shadow: 0px 0px 10px rgb(190, 190, 190);

  &-iframe {
    @media (max-width: 576px) {
      width: 250px;
      height: 250px;
    }

    @media (min-width: 576px) {
      width: 800px;
      height: 600px;
    }
  }
}
