.contact-us {
  display: flex;
  background: white;
  border-radius: 10px;
  border: solid 2px rgba(165, 165, 165, 0.5);
  align-items: center;
  justify-content: center;

  &__layout {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
  }
}
