.side-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: white;

  .ant-menu-vertical-left {
    border-right: none;
    border-left: solid 1px #3279bd;
  }
}
