.topics-manager {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: row;

  .topics-manager-dashboard {
    align-items: left;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    .ant-table-wrapper {
      margin-top: 5px;
      width: 100%;
      border: 2px solid rgba(62, 62, 62, 0.3);
      padding: 20px;
      background: white;
      border-radius: 15px;
    }

    h2 {
      margin-top: 5px;
      color: rgb(62, 62, 62);
    }
  }
}
