.links {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 20px;
  width: 100%;
  padding: 0% 2% 0% 2%;

  &__label {
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      color: rgb(90, 90, 90);
    }
  }
}
