.home-text {
  h1 {
    color: #3279bd;
    font-weight: bold;
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
    color: #025038b9;
  }
  p {
    font-size: 18px;
  }

  margin: 20px 100px 20px 100px;
  align-items: "center";
}
